* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #1e1f22;
    box-sizing: border-box;
    font-family: "Miriam Libre", sans-serif;
    color: #fff;
    background-size: cover;
    background: linear-gradient(0deg, #1e1f22, #1e1f22de),
    url(https://wallpaper.dog/large/10940905.jpg);
    backdrop-filter: blur(10px);
}


.grid-container {
    grid-template-rows: 100px 1fr 1fr 100PX;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    height: 100%;
    padding: 20px;
}

.item {
    height: 100%;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff20;
    border: 1px solid #8b8b8b60;
    box-shadow: 0 0 30px #00000040;
    border-radius: 10px;
}

.header {
    grid-column: 1/4;
    grid-row: 1/1;
}

.sidebar {
    grid-row: 2/4;
}

.content1 {grid-column: 2/4;}

.content2 {
    grid-column: 2/3;

}

.content3 {
    grid-column: 3/4;

}

.footer {
    grid-column: 1/4;
    grid-row: 4/5;

}